.userPhoto img {
  border: 1px solid silver;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-left: 30px;
}

.user {
  display: grid;
  grid-template-areas: 'user-p descr';
  grid-template-columns: 1fr 4fr;
}

.userPhoto {
  grid-area: user-p;
}

.description {
  color: lightslategrey;
  margin-top: -25px;
  grid-area: descr;
}

.userInfo {
  width: 700px;
  opacity: 0.8;
}
