.link {
  display: inline-block;
  padding: 5px 5px 5px 0;
  text-decoration: none;
  color: linen;
  font-size: 20px;
}

.link:hover {
  color: darkcyan;
}

.active {
  pointer-events: none;
  cursor: default;
  color: grey;
}
