.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendPhoto {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.friendLink {
  display: inline-block;
}

.friendName {
  margin: 10px 0 0;
  font-size: 12px;
  color: darkcyan;
}
