.pagination {
  max-width: 870px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.page {
  display: block;
  padding: 2px;
  border: 1px solid grey;
}

.selected {
  font-weight: bold;
  border-color: black;
}
