.users {
  background-color: lightblue;
  padding: 20px 0 50px 30px;
  max-height: 100%;
}
.title {
  text-transform: uppercase;
  color: darkcyan;
}

.user {
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 850px;
  height: 100%;
  background-color: lightcyan;
}

.user:last-child {
  margin-bottom: 0;
}

.userAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.userAvatar {
  margin-bottom: 10px;
}

.userAvatar img {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  box-shadow: 1px 2px gray;
}

.userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.userName,
.userStatus,
.userCountry,
.userCity {
  width: 50%;
  padding-bottom: 10px;
}

.userCountry,
.userCity {
  text-align: right;
}

.userBtn {
  margin-bottom: 10px;
  width: 120px;
  display: inline-block;
  background-color: darksalmon;
  border: 2px solid transparent;
  box-shadow: 1px 2px gray;
  padding: 7px 0;
  border-radius: 3px;
  cursor: pointer;
  color: snow;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.userBtn:hover {
  background-color: lightsteelblue;
}

.userBtn:focus {
  outline: none;
}

.userBtn:active {
  box-shadow: 2px 2px 2px gray;
}
