.userPhoto img {
  border: 1px solid silver;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-left: 30px;
}

.userPhoto {
  grid-area: user-p;
}

.mainAvatar {
  max-width: 200px;
}

.fileInput {
  margin-top: 20px;
}

.fileInput {
  margin-left: 30px;
}
