.navbar {
  height: 100%;
  background-color: lightblue;
  margin-right: 10px;
  padding-left: 25px;
  color: linen;
}

.nav {
  padding: 25px 0 50px;
  grid-area: n;
  display: flex;
  flex-direction: column;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: linen;
}

.nav a:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: darkcyan;
}

.nav div {
  margin-bottom: 10px;
}

.nav div:last-child {
  margin-bottom: 0;
}

.friends {
  padding-right: 25px;
}

.friendsTitle {
  color: darkcyan;
}

.friendsList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
