.dialog {
  padding: 10px;
  position: relative;
  font-size: 18px;
}

.dialog::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  background-color: darkcyan;
  border-radius: 50%;
  top: 45%;
  left: -5px;
}
.dialog a:focus {
  opacity: 0.9;
  font-size: 22px;
  font-weight: 500;
}

.dialog a {
  display: inline-block;
  color: cadetblue;
  text-decoration: none;
  opacity: 0.7;
  font-size: 14px;
}

.dialog a:visited {
  color: lightslategray;
}

.dialog a:hover {
  color: darkcyan;
}

.dialog a:active {
  opacity: 0.6;
}

.active {
  color: rosybrown;
  font-weight: 400;
  opacity: 0.8;
}
