.post {
  display: grid;
  margin-bottom: 15px;
  grid-template-areas: 'post-p post-t';
  grid-template-columns: 1fr 10fr;
  color: gray;
}

.postPhoto img {
  margin-top: 10px;
  border-radius: 50%;
  border: 1px solid silver;
  width: 50px;
  height: 50px;
  grid-area: post-p;
}

.postText {
  grid-area: post-t;
  width: 520px;
}
