.textarea {
  width: 400px;
  margin: 10px 0;
  padding: 15px 10px;
  border-radius: 3px;
  background-color: gainsboro;
  border: 2px solid transparent;
  box-shadow: 1px 2px gray;
  color: gray;
}

.textarea:focus {
  background-color: lightsteelblue;
  box-shadow: 2px 2px 2px gray;
  outline: none;
}

.textarea::placeholder {
  opacity: 0.7;
}

.textarea:hover {
  background-color: lightsteelblue;
}

.textareaButton {
  display: block;
  margin-top: 10px;
  background-color: darksalmon;
  border: 2px solid transparent;
  box-shadow: 1px 2px gray;
  padding: 15px 30px;
  border-radius: 3px;
  cursor: pointer;
  color: snow;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.textareaButton:hover {
  background-color: lightsteelblue;
}

.textareaButton:focus {
  outline: none;
}

.textareaButton:active,
.textarea:active {
  box-shadow: 2px 2px 2px gray;
}
