.container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'h h'
    'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background: no-repeat url('.//components/assets/images/mainWrap1.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
