.dialogs {
  height: 100vh;
  background-color: lightcyan;
  padding: 20px 0 50px 30px;
}
.title {
  text-transform: uppercase;
  color: cadetblue;
  opacity: 0.8;
}

.blockWrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
