.loginFormBtn {
  margin-top: 20px;
  width: 120px;
  display: inline-block;
  background-color: darksalmon;
  border: 2px solid transparent;
  box-shadow: 1px 2px gray;
  padding: 7px 0;
  border-radius: 3px;
  cursor: pointer;
  color: snow;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.loginFormBtn:hover {
  background-color: lightsteelblue;
}

.loginFormBtn:focus {
  outline: none;
}

.loginFormBtn:active {
  box-shadow: 2px 2px 2px gray;
}

.input {
  width: 200px;
  margin: 0 0 20px 0;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: gainsboro;
  border: 2px solid transparent;
  box-shadow: 1px 2px gray;
  color: gray;
}

.input:focus {
  background-color: lightsteelblue;
  box-shadow: 2px 2px 2px gray;
  outline: none;
}

.input::placeholder {
  opacity: 0.7;
}

.input:hover {
  background-color: lightsteelblue;
}

.error {
  display: inline-block;
  padding: 5px;
  color: red;
  border-radius: 4px;
  border: 1px solid red;
}
